.header {
	text-align:center;
}

.container {
	clear: both;
	border-radius: 10px 10px 10px 10px;
	background-color: #313131;
	padding: 10px;
	margin: 10px;
 	overflow:auto;
}

.selectors {
	clear: none;
	float: left;
}

.selectors div {
	margin: 10px;
}

.selected {
	background-color: black;
	border-radius: 4px;
}

.empty {
	text-align:center;
	color: #3D3D3D;
	font-style: italic;
}

input[type="search"] {
	background-position: 4px 1px;
}

ul  {
	padding-bottom: 20px;
}

li {
	float: left;
}

#notifications {
	height: 18px;
}

#rules {
	width: 100%;
	table-layout:fixed;
}

#rules td {
	text-overflow: ellipsis; 
	overflow: hidden;
	white-space:nowrap;
}

#rules tr:nth-child(even) {
    background-color: #373737;
}

#rules tr:nth-child(odd) {
    background-color: #313131;
}

#searchCategory {
	clear: both;
}

#searchType {
	clear: both;
}

#message {
	color: green;
}

#error {
	color: #E41B17;
}

.menu {
	clear: both;
	padding: 10px 0px;
}

#addPlaylist {
	margin-bottom: 10px;
}



