.header {
	text-align:center;
}

.container {
	clear: both;
	border-radius: 10px 10px 10px 10px;
	background-color: #2E2E2E;
	padding: 10px;
	margin: 10px;
 	overflow:auto;
}

.empty {
	text-align:center;
	color: #3D3D3D;
	font-style: italic;
}

.selected {
	background-color: black;
}

ul a {
    line-height: 40px;
    padding: 0 10px;
}

li {
	float: left;
	border-radius: 10px 10px 10px 10px;
}

#rules {
	width: 100%;
	table-layout:fixed;
}

#rules td {
	text-overflow: ellipsis; 
	overflow: hidden;
	white-space:nowrap;
}

#rules tr:nth-child(even) {
    background-color: #2E2E2E;
}

#searchCategory {
	clear: both;
}

#searchType {
	clear: both;
}


